@using MVC_ProyectoFinal.Areas.Vuelos.Models;
@using MVC_ProyectoFinal.Areas.Vuelos.Models.Pasajeros;
@using MVC_ProyectoFinal.Areas.Vuelos.Utils;
@model List<Pasajero>

@{
    List<Aerolinea> aerolineas = ListaAerolineas.Instancia().Aerolineas;
    List<Ciudad>? ciudades = ListaCiudades.Instancia().Ciudades;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Asiento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Adulto</th>
                <td>Christian Jacome</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>

            </tr>
        </tbody>
    </table>


</body>
</html>
